* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: black;
}

.container {
  background-color: white;
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.opt-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.slider {
  padding: 0px;
}

.checkbox {
  margin: auto 0;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  color: white;
}

#start {
  background-color: #5c5;
}

#pause {
  background-color: #080;
}

#reset {
  background-color: #f55;
}

.maze {
  margin: 10px 0;
}

.gridCol {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
}

.gridRow {
  display: flex;
  width: 150px;
  margin: auto;
}

.top_connected {
  border-top: 1px solid transparent;
}

.right_connected {
  border-right: 1px solid transparent;
}

.bottom_connected {
  border-bottom: 1px solid transparent;
}

.left_connected {
  border-left: 1px solid transparent;
}

.path {
  background-color: #cfc;
}

.origin {
  background-color: #55f;
}

.player {
  background-color: #5c5;
}

.exit {
  background-color: #f55;
}

#controller {
  width: 100px;
  margin: auto;
  display: flex;
  transform: rotate(45deg);
}

.controller-parts {
  width: 50px;
  height: 50px;
  margin: 0 1px;
}

#U {
  border-radius: 50px 0 0 0;
}

#R {
  border-radius: 0 50px 0 0;
}

#D {
  border-radius: 0 0 50px 0;
}

#L {
  border-radius: 0 0 0 50px;
}
